.w3-padding {
  padding: 8px 16px;
}
.w3-border {
  border: 1px solid #ccc;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.w3-light-grey {
  background-color: #f1f1f1;
  color: #000;
}
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}